<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  <link rel="stylesheet" href="../static/search.css">
  
</head>
<body>
  <h1>Search Results for "{{ query }}"</h1>
  <div class="content-card">
    {% for result in results %}
      <div class="card">
        <img src="https://image.tmdb.org/t/p/w500{{ result.poster_path }}" alt="{{ result.title }} poster">
        <h2>{{ result.title }}</h2>
      </div>
    {% endfor %}
  </div>
  <a href="{{ url_for('signin') }}">Go back to home</a>
</body>
</html>